@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "consolas";
    font-size: 24px;
}

#top {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
      url("https://cdn.pixabay.com/photo/2017/08/22/00/29/burger-2667443_960_720.jpg")
        no-repeat center bottom / cover;
        color: whitesmoke;
}

.container{
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

#top .main h1{
    font-size: 5.5rem;
    margin-bottom: 0.9rem;
}

#top .main h2{
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

#top .main p{
    font-size: 1.4rem;
    max-width: 60%;
}

#top .main a{
    text-decoration: none;
    display: inline-block;
    color: #ee6c08;
    background-color: wheat;
    border-color: wheat;
    border-radius: 5px;
    padding: 0.8rem 2rem;
    margin-top: 2.2rem;
    transition: 0.3s ;
}

#top .main a:hover{
    background-color: #ee6c08;
    color: whitesmoke;
}

@media screen and (max-width:800px) {
    html{
        font-size: 20px;
    }
    
}